body {
  font-family: Arial;
  margin: 0px;
}

button {
  margin-left: 18px;
  text-decoration: underline;
  border: none;
  background: none;
  height: 26px;
  font-family: 'Arial Bold', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  text-decoration: underline;
  color: #868686;
  line-height: 26px;
  cursor: pointer;
  padding: 10px;
  padding: 20px 0 33px 0;
}

.list {
  cursor: pointer;
}

.selected {
  background: blue;
}

@media only screen and (max-width: 481px) {
  [class*="col-"] {
      width: 100%
  }
}

@media only screen and (min-width: 481px) {
   .col-m-7 {width: 58.33%;
  min-width: 404.05px}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
}

@media only screen and (min-width: 768px) {
  .col-l-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
}


@media only screen and (max-width: 481px) {

  .playlist-text {
    margin-left: 9px;
    margin-top: 10px;
    width: 280px;
    height: 29px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .list {
    border: 1px solid LightGrey;
    width: 85%;
    /*width: 74.7%;*/
    height: 260px;
    margin-bottom: 10px;
  }

  .list .description {
    display: none;
  }

  img {
    width: 95%;
    height: 70%;
    margin-left: 9px;
  }

  .title {
    margin-left: 9px;
    width: 300px;
    height: 17px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    /*font-size: 18px;*/
    font-size: 1.125em;
    color: #5E5E5E;
    line-height: 20px;
  }

  .published {
    margin-left: 9px;
    margin-top: 25px;
    width: 280px;
    height: 8px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 5px;
  }

  .show .title {
    margin-left: 18px;
    width: 280px;
    height: 31px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
    line-height: 24px;
  }

  .show .published {
    margin-left: 18px;
    width: 280px;
    height: 26px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show .description {
    margin-left: 18px;
    width: 280px;
    height: 156px;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show iframe {
    width: 90%;
    height: 200px;
  }
}

@media only screen and (min-width: 481px){
  .playlist-text {
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 29px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .list {
    /*width: 70%;*/
    /*width: 66.4%;*/
    height: 287px;
    border: 1px solid LightGray;
    /*overflow: auto;*/
    margin-bottom: 10px;
  }

  img {
    width: 95%;
    height: 65%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .list .title {
    width: 100%;
    height: 18px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    /*font-size: 24px;*/
    font-size: 1.188em;
    color: #5E5E5E;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 11px;
  }

  .list .published {
    /*float: right;*/
    padding: 0;
    margin: 25px 20px 0 10px;
    width: 100%;
    /*clear: both;*/
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .list .description {
    /*float: right;*/
    /*margin: 25px 20px 0 0;
    padding: 0;
    width: 35%;
    clear: both;
    font-size: 15px;
    color: #868686;
    line-height: 26px;*/
    display:none;
  }

  .show iframe {
    width: 70%;
    height: 200px;
  }

  .show .title {
    margin-left: 20px;
    margin-top: 18px;
    width: 480px;
    height: 28px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .show .published {
    margin-left: 20px;
    width: 480px;
    height: 26px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show .description {
    margin-top: 0px;
    width: 57%;
    height: 156px;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }
}


@media only screen and (min-width: 768px) {
  .playlist-text {
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 29px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .list {
    /*width: 70%;*/
    /*width: 58.1%;*/
    height: 300px;
    border: 1px solid LightGray;
    overflow: auto;
    margin-bottom: 10px;
  }

  img {
    width: 55%;
    height: 92%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .list .title {
    width: 36%;
    height: 25px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
    float: right;
    /*margin-right: 20px;*/
    margin-bottom: 11px;
  }

  .list .published {
    float: right;
    padding: 0;
    margin: 78px 20px 0 0;
    width: 36%;
    clear: both;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .list .description {
    float: right;
    margin: 25px 20px 0 0;
    padding: 0;
    width: 36%;
    clear: both;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show iframe {
    width: 40%;
    height: 294px;
  }

  .show .title {
    margin-left: 20px;
    margin-top: 18px;
    width: 480px;
    height: 28px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .show .published {
    margin-left: 20px;
    width: 480px;
    height: 26px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show .description {
    margin-top: 0px;
    width: 57%;
    height: 156px;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
    float: right;
  }


  main:hover {
    filter: blur(0px);
  }
  .list {
     filter: blur(0px);
  }
  .list:hover {
     filter: blur(5px);
  }

main:hover > .list {
  filter: blur(3px);
}

main:hover > .list:hover {
  filter: blur(0px);
}
/*
.childDiv {
  border: 1px solid black;
  overflow: auto;
}*/

/*main:hover {
  background: blue;
}*/
}
