.list {
  border: 1px solid #d0d0d0;
  width: 85%;
  height: 280px;
  margin-bottom: 10px;
  cursor: pointer;
  list-style: none;
  padding: 0;
  @media only screen and (min-width: 481px) {
    min-width: 411px;
  }

  &:focus {
    outline-color: $primary-color;

    @-moz-document url-prefix() {
      outline: 3px solid $primary-color;
    }
  }

  &:active {
    _::-webkit-:host:not(:root:root), .safari_only {
      background: red;
    }
  }

  &__item{
    &--title {
      margin-left: 15px;
      margin-top: 10px;
      width: 300px;
      height: 17px;
      font-family: 'Arial Bold',Arial;
      font-weight: 700;
      font-style: normal;
      font-size: 1.125em;
      color: #5e5e5e;
      line-height: 20px;

      @media screen and (min-width: $break-large) {
        width: 41%;
        height: 23px;
        font-size: 26px;
        line-height: 1.2;
        float: right;
        margin-top: 13px;
        margin-bottom: 11px;
        clear: both;
      }
    }

    &--published {
      margin-left: 15px;
      margin-top: 21px;
      width: 280px;
      margin-bottom: 11px;
      height: 8px;
      font-family: 'Arial Bold',Arial;
      font-weight: 700;
      font-style: normal;
      font-size: 15px;
      color: #868686;
      line-height: 5px;
      @media screen and (min-width: $break-large) {
        float: right;
        padding: 0;
        margin: 44px 0 0 0;
        width: 41%;
        clear: both;
        line-height: 26px;
      }
    }

    &--description {
      display: none;
      @media screen and (min-width: $break-large) {
        float: right;
        margin: 54px 0 0 0;
        padding: 0;
        width: 41%;
        clear: both;
        font-size: 16px;
        color: #868686;
        line-height: 26px;
        display: block;

      }
    }

    &--img {
      width: 91%;
      height: 210px;
      margin-left: 15px;
      @media screen and (min-width: $break-large) {
        width: 55%;
        height: 260px;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}
