.show {
  list-style: none;
  padding: 0;

  &__item {
    width: 100%;
    float: left;
    @media screen and (min-width: $break-large) {
      width: 100%;
    }

    &--title {
      margin-left: 18px;
      width: 280px;
      height: 31px;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      color: #5e5e5e;
      line-height: 24px;
      @media screen and (min-width: $break-large) {
        margin-top: 18px;
        width: 480px;
      }
    }

    &--published {
      margin-left: 18px;
      margin-top: 25px;
      margin-bottom: 15px;
      width: 280px;
      height: 26px;
      font-weight: 700;
      font-style: normal;
      font-size: 15px;
      color: #868686;
      line-height: 26px;
      @media screen and (min-width: $break-large) {
        margin-top: 0;
      }
    }

    &--description {
      margin-left: 18px;
      margin-top: 15px;
      width: 280px;
      height: 156px;
      font-size: 15px;
      color: #868686;
      line-height: 26px;
      @media screen and (min-width: $break-large) {
        margin: 0 30px 0 0;
        width: 55%;
        float: right;
      }
    }

    &--iframe {
      width: 90%;
      height: 230px;
      @media screen and (min-width: $break-large) {
        width: 40%;
        height: 294px;
      }
    }
  }
}
