

@media only screen and (max-width: 481px) {

  .playlist-text {
    margin-left: 9px;
    margin-top: 10px;
    width: 280px;
    height: 29px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }



  .title {
    margin-left: 9px;
    width: 300px;
    height: 17px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    /*font-size: 18px;*/
    font-size: 1.125em;
    color: #5E5E5E;
    line-height: 20px;
  }

  .published {
    margin-left: 9px;
    margin-top: 25px;
    width: 280px;
    height: 8px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 5px;
  }

  .show .title {
    margin-left: 18px;
    width: 280px;
    height: 31px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
    line-height: 24px;
  }

  .show .published {
    margin-left: 18px;
    width: 280px;
    height: 26px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show .description {
    margin-left: 18px;
    width: 280px;
    height: 156px;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }

  .show iframe {
    width: 90%;
    height: 200px;
  }
}

@media only screen and (min-width: 481px){
  .playlist-text {
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 29px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #5E5E5E;
  }

  .list {
    /*width: 70%;*/
    /*width: 66.4%;*/
    height: 287px;
    border: 1px solid LightGray;
    /*overflow: auto;*/
    margin-bottom: 10px;
  }

  img {
    width: 95%;
    height: 65%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .list .title {
    width: 100%;
    height: 18px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    /*font-size: 24px;*/
    font-size: 1.188em;
    color: #5E5E5E;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 11px;
  }

  .list .published {
    /*float: right;*/
    padding: 0;
    margin: 25px 20px 0 10px;
    width: 100%;
    /*clear: both;*/
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #868686;
    line-height: 26px;
  }


/*

  .parentDiv:hover {
    filter: blur(0px);
  }
  .list {
     filter: blur(0px);
  }
  .list:hover {
     filter: blur(5px);
  }

.parentDiv:hover > .list {
  filter: blur(5px);
}

.parentDiv:hover > .list:hover {
  filter: blur(0px);
}*/

}
