body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  background: #fafafa;
  color: #333;
  @include fontSmoothing();
}

.header {
  padding: 10px;
  background: #333577;
  color: #fff;

  &__heading {
    margin-left: 20px;
  }
}

button {
  margin-left: 18px;
  text-decoration: underline;
  border: none;
  background: none;
  height: 26px;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  text-decoration: underline;
  color: #868686;
  line-height: 26px;
  cursor: pointer;
  padding: 20px 0 33px 0;

  &:focus {
    outline-color: $primary-color;

    @-moz-document url-prefix() {
      outline: 3px solid $primary-color;
    }
  }
}
