body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  background: #fafafa;
  color: #333;
  @include fontSmoothing();
}

main {
  transition: opacity 3s;
}

.header {
  padding: 10px;
  background: #333577;
  color: #fff;

  &__heading {
    margin-left: 20px;
  }
}
